version: '3.5'

networks:
  db-network:
    name: db-network
    driver: bridge

services:
  db.mysql:
    image: mysql:8.0
    container_name: db-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=VxzKOOhYrtim
      - MYSQL_USER=db
      - MYSQL_PASSWORD=YrtimEjHrdqg0kTmJ
      - MYSQL_DATABASE=db
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - ./database/mysql:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - db-network